<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="diesel" class="in.shital.DieselEng" />
        <bean id="petrol" class="in.shital.PetrolEng" />
        <bean id="car" class="in.shital.Car" scope="prototype">
			<property name="eng" ref="petrol" />
        </bean>
			
</beans>